<!DOCTYPE html>
<html>
<head>
	<title>Layout5</title>
</head>
<body>
	<header>
		<section>
			<nav>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</nav>
		</div>
		<div>
			<p>ddddddddddddddddddddddddddddd</p>
		</div>
	</header>
	</section>
		<section>
			<input type="button" name="">
			<img src="">
			<p>sss</p>
			<p>ssss</p>
		</section>
		<article>
			<input type="button" name="">
			<p>ssss</p>
			<p>ssss</p>
			<p>ssss</p>
			<p>ssss</p>
		</article>
	</section>
</body>
</html>