<!DOCTYPE html>
<html>
<head>
	<title>Layout1</title>
</head>
<body>
	<header>
		<div>
			<div>
				<nav >
					<ul>
						<li>ddd</li>
						<li>ddd</li>
						<li>ddd</li>
						<li>ddd</li>
					</ul>
				</nav>
			</div>
			<section>
				<div>
					<p>sdasccccccccccccccccczcxzcxzcxzcxzcxzcxzcxzcz</p>
				</div>
				<div>
					<p>sdasccccccccccccccccczcxzcxzcxzcxzcxzcxzcxzcz</p>
				</div>
			</section>
			<div>
				<nav>
					<ul>
						<li>aaa</li>
						<li>aaa</li>
						<li>aaa</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<div>
			<p>ccccccccccccccccccccccccccccccccccccccccc0</p>
		</div>
		<div>
			<article>
				<p>vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
			</article>
		</div>
		<div>
			<article>
				<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			</article>
		</div>
	</main>
</body>
</html>