<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<section>
			<nav>
				<ul>
					<li>aaaaaaaaaaaaa</li>
					<li>ssssssssssss</li>
					<li>dddddddddddd</li>
				</ul>
			</nav>
		</section>
		<section>
			<div>
				<article>
					<p>ffffffff</p>
				</article>
				<p>dddddddddddddddddddddddddddddddddddd</p>
				<p>dddddddddddddddddddddddddddddddddddd</p>
				<article>
					<input type="button" name="" value="ok">
					<input type="button" name="" value="reset">
				</article>
			</div>
			<div>
				<p>ddddddddddddddddddddddddddddddddddd</p>
			</div>
			<div>
				<article>
					<p>sssss</p>
					<p>vvvvv</p>
					<input type="button" name="" value="DD">
				</article>
			</div>
		</section>
	</header>
	<hr>
	<main>
		<div>
			<img src="">
			<article>
				<p>ddd</p>
			</article>
		</div>
		<div>
			<article>
				<p>ddd</p>
			</article>
		</div>
		<div>
			<article>
				<p>ddd</p>
			</article>
		</div>
	</main>
</body>
</html>