<!DOCTYPE html>
<html>
<head>
	<title>Layout4</title>
</head>
<body>
	<header>
		<div>
			<nav>
				<ul>
					<li>111</li>
					<li>222</li>
					<li>333</li>
					<li>444</li>
				</ul>
			</nav>
		</div>
	</header>
	<div>
		<p>ddd</p>
		<p>sss</p>
		<input type="button" name="DSA">
		<input type="button" name="DSA">
	</div>
	<div>
		<div>
			<p>sss</p>
			<p>sss</p>
			<p>sss</p>
		</div>
		<div>
			<img src="">
		</div>
	</div>
	<div>
		<div>
			<p></p>
			<input type="" name="">
		</div>
		<div>
			<p></p>
			<input type="" name="">
		</div>
		<div>
			<p></p>
			<input type="" name="">
		</div>
	</div>
</body>
</html>