<!DOCTYPE html>
<html>
<head>
	<title>Layout3</title>
</head>
<body>
	<header>
		<section>
			<nav>
				<ul>
					<li>BBB</li>
					<li>BBB</li>
					<li>BBB</li>
				</ul>
			</nav>
		</section>
		<div>
			<article>
				<img src="">
			</article>
		</div>
	</header>
	<main>
		<div>
			<img src="">
			<p>DDDD</p>
			<input type="button" name="DDD">
		</div>
		<div>
			<img src="">
			<p>DDDD</p>
			<input type="button" name="DDD">
		</div>
		<div>
			<img src="">
			<p>DDDD</p>
			<input type="button" name="DDD">
		</div>
		<div>
			<img src="">
			<p>DDDD</p>
			<input type="button" name="DDD">
		</div>
	</main>
</body>
</html>