<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Final project</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <header id="header">
    <section class="header-images">
      <a href=""><img src="../images/logo-summer-day.png" alt="Summer"></a>
    </section>
    <section class="nav">
      <ul class="nav-list">
        <li class="list-item"><a href="" title="">HOME</a></li>
        <li class="list-item"><a href="" title="">EXAMPLES</a></li>
        <li class="list-item"><a href="" title="">ABOUT</a></li>
        <li class="list-item"><a href="" title="">SHOP</a></li>
        <li class="list-item"><a href="" title="">BLOG</a></li>
        <li class="list-item"><a href="" title="">GALLERY</a></li>
        <li class="list-item"><a href="" title="">CONTACT</a></li>
      </ul>
    </section>
  </header>
  <section class="banner">
    <img src="../images/banner1.jpg" alt="slider" class="banner-img">
  </section>
  <main class="main">
    <div class="container">
      <section class="main-content">
        <p>For over 7 years we have been creating unique website templates for thousands of people.<br>
        We love what we do and hope all our clients enjoy making our websites their own.
        We specialise in WordPress templates that are easily customized and are ready to have a variety of plugins installed to suit any business.</p>
      </section>
    </div>
    <div class="container">
      <div class="main-content-center">
        <div class="main-content-left">
          <article>
            <header class="content-left-header">
              <div class="blog-widget">
                <div>
                  <a href="#">
                    <i class="fa fa-comment" aria-hidden="true"></i> 
                    <span>0</span>
                  </a>
                </div>
                <a href="#">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>    
                  <span class="share">Share</span>              
                </a>
              </div>
              <div class="blog-img">
                <a href="" title=""><img src=../images/entry1.jpg alt="header"></a>
              </div>
              <div class="blog-content">
                <a href="" title=""><h2>Surgs Up - Best locations</h2></a>
                <a href="" title="" class=""><h4>September 16,2016</h4></a>
              </div>
            </header>
            <p class="text-bottom">Type your custom Excerpt here. This will display on the blog summary pages.</p>
            <footer>
              <a class="button" href="" title="See More">More</a>
            </footer>
          </article>
          <article>
            <header class="content-left-header">
              <div class="blog-widget">
                <div>
                  <a href="#">
                    <i class="fa fa-comment" aria-hidden="true"></i> 
                    <span>0</span>
                  </a>
                </div>
                
                <a href="#">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>    
                  <span>Share</span>              
                </a>
              </div>
              <div class="blog-img">
                <a href="" title=""><img src="../images/entry2.jpg" alt="header"></a>
              </div>
              <div class="blog-content">
                <a href="" title=""><h2>Time for a holiday</h2></a>
                <a href="" title=""><h4>September 16,2016</h4></a>
              </div>
            </header>
            <p class="text-bottom">A vacation or holiday is a leave of absence from a regular occupation, or a specific trip or journey, usually for the purpose of recreation or tourism. People often take a vacation during specific holiday observances, or for specific festivals or celebrations. Vacations are often spent with friends or family. A person may take a longer break from work, such as a sabbatical, gap year, or career break. The concept[…]</p>
            <footer>
              <a class="button" href="" title="See More">More</a>
            </footer>
          </article>
        </div>
        <div class="main-content-right">
          <section class="content-right-block">
            <div class="content-right-block-title">
              <h3>About</h3>
            </div>
            <div class="content-right-container">
              <p>dtbaker is a website designer with a professional career spanning over 15 years.</p>
              <img src="../images/profile-1.jpg" alt="person">
            </div>
          </section>
          <section class="content-right-block">
            <div class="content-right-block-title">
              <h3>Category</h3>
            </div>
            <div class="category">
              <ul class="category-list">
                <li class="category-item"><a href="" title="design">Design</a></li>
                <li class="category-item"><a href="" title="life">Life</a></li>
                <li class="category-item"><a href="" title="marketing">Marketing</a></li>
                <li class="category-item"><a href="" title="wordpress">WordPress</a></li>
              </ul>
            </div>
          </section>
          <section class="content-right-block">
            <div class="content-right-block-title">
              <h3>Tags</h3>
            </div>
            <ul class="tags-list">
              <li class="tag-item"><a href="" title="beach"></a>BEACH</li>
              <li class="tag-item"><a href="" title="creative">CREATIVE</li>
              <li class="tag-item"><a href="" title="fun"></a>FUN</li>
              <li class="tag-item"><a href="" title="summer"></a>SUMMER</li>
              <li class="tag-item"><a href="" title="theme"></a>THEME</li>
              <li class="tag-item"><a href="" title="wordpress"></a>WORDPRESS</li>
            </ul>
          </section>
          <section class="content-right-block">
            <div class="content-right-block-title">
              <h3>Instagram</h3>
            </div>
            <ul class="instagram-list">
              <li class="instagram-item"><img src="../images/instagram/1.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/2.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/3.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/4.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/5.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/6.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/7.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/8.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/9.jpg" alt="image"></li>
            </ul>
          </section>
        </div>
      </div>  
    </div>
  </main>
  <div class="clear"></div>
  <footer class="footer">
    <div class="container">
      <section class="section-footer">
        <h2>About</h2>
        <p>Baker Web Development is the combined efforts of two freelance web developers Hayley (design) & Dave (code). We have been working together since 2005.
        </p>
        <p>This theme is available for purchase on <a href="" title="">ThemeForest.net.</a></p>
      </section>
      <section class="section-footer col-2">
        <h2>Links</h2>
        <ul class="link-list">
          <li><a href="" title="link-item">Theme Forest</a></li>
          <li><a href="" title="link-item">CodeCanyon</a></li>
          <li><a href="" title="link-item">dtbaker.net</a></li>
          <li><a href="" title="link-item">Help</a></li>
        </ul>
      </section>
      <section class="section-footer">
        <h2>Newsletter</h2>
        <div class="submit-form">
          <form>
            <input type="text" name="name" placeholder="Your Name">
            <input type="text" name="email" placeholder="Your Email">
            <input class="submit" type="submit" name="submit" placeholder="Submit">
          </form>
        </div>
      <div class="Newsletter-bottom">
        <div class="Newsletter-bottom-item">
          <p>protected by reCAPTCHA</p>
          <ul>
            <li><a href="" title="Privacy">Privacy</a></li>
            <li><a href="" title="Terms">Terms</a></li>
          </ul>
        </div>
        <img src="../images/logo_48.png" alt="capcha">
      </div>
      </section>
      <section class="section-footer">
        <h2>Contact</h2>
        <ul class="icon">
                <li class="dtbaker-social_icons-list__item">
                  <a href="" class="dtbaker-social_icons-list__link">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="dtbaker-social_icons-list__item">
                  <a href="" class="dtbaker-social_icons-list__link">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="dtbaker-social_icons-list__item">
                  <a href="" class="dtbaker-social_icons-list__link">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="dtbaker-social_icons-list__item">
                  <a href="" class="dtbaker-social_icons-list__link">
                    <i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
      </section>
    </div>
  </footer>
</body>
</html>
