body{
	font-family: Tahoma;
	font-size: 13px;

}
ul{
	margin: 0px;
	padding: 0px;

}
ul li{
	list-style: none;
	float: left;
	padding-right: 30px;
	list-style: disc;

}
.header{
	margin: 0px auto;
	padding: 0px;
	background-color: #ffffff;
}
.header .header_margin .logo{
	margin: 20px;
	margin-left: 130px;
}
.header .header_margin .ul-li{
	float: right;
	margin-top: -65px;
	font-size: 15px;
	margin-right: 130px;
}
.header .slide-bar{
	margin-left: -8px;
}
.header .slide-bar img{
	width: 1600px;
}
.section-banner{
	margin: 80px;
	margin-left: 0px;

}
.section-banner .container{
	margin-left: 0px;
}
.section-banner .logo{
	margin-left: 30px;
}
.section-banner .container h2{
	margin-left: 550px;
}
.section-banner .container img{
	margin-left: 550px;
}
.section-banner .container .content-aboutus{

}
.section-banner .container .content-aboutus ul li{
	width: 30%;
	float: left;
	list-style: none;
}
.section-banner .container .content-aboutus ul li img{
	margin-left: 0px;
}
.section-product h2{
	margin-left: 550px;
}
.section-product img{
	margin-left: 580px;
}
.section-project .container h2 {
	margin-left: 550px;
}
.section-project .container img{
	margin-left: 580px;	
}
.section-new-event h2{
	margin-left: 550px;
}
.section-new-event img{
	margin-left: 580px
}
.section-gallery h2{
	margin-left: 550px;
}
.section-gallery img{
	margin-left: 580px;
}

.clear{
	clear: both;
}