#header {
  .header-images {
    text-align: center;
    border-bottom : 4px double #f0eff0;
    height : 220px;
    background-color : #ffffff;
    background: url("../images/header-watercolor-left.png"),url("../images/header-watercolor-right.png");
    background-repeat:no-repeat,no-repeat;
    background-position: left top, right top;
  }
  img {
    margin: 40px 0px;
  }
  .nav {
    background-color: #ffffff;
    border-bottom: 4px double #f0eff0;
    margin-bottom : 50px;
  }
  .nav-list {
    text-align: center;
    color: #f0f0f0;
  }
  .list-item {
    display: inline-block;
    margin: 20px 0px;
    color: #cbedf5;
    font-family: $font-body;
    font-size: 14px;
    &:after {
      content: '/';
      margin: 5px 20px;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
  a:hover{
    color: #45bfdb;
  }
}
